﻿<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
    <a [routerLink]="['/divisionEdit', '0']" class="btn btn-sm btn-danger">
      New Member
    </a>
  </div>

  <!-- Filter the Users   -->
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row' *ngIf='listFilter'>
      <div class='col-md-6'>
        <h3>Filtered by: {{listFilter}} </h3>
      </div>
    </div>

    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

    <div class='table-responsive'>
      <table class='table'
             *ngIf='divisions && divisions.length'>
        <thead>
          <tr>
            <th>DivisionID</th>
            <th>DivisionName</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let division of divisions | divisionFilter:listFilter'>
            <td><a [routerLink]="['/division', division.division_id]">{{ division.division_id }}</a></td>
            <td>{{ division.division_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>