﻿<div class="col-md-6 col-md-offset-3">
  <!-- Form Area -->
  <div class="login-form">
    <!-- Form -->
    <form class="form-horizontal" novalidate [formGroup]="loginForm" (ngSubmit)="loginProcess()">
      <fieldset>
        <div class="form-group col-xs-12" [ngClass]="{'has-error': displayMessage.username }">
          <input id="username" type="text" placeholder="login_id (required)" formControlName="username" />
          <span class="help-block" *ngIf="displayMessage.username">
            {{displayMessage.username}}
          </span>
        </div>
        <div class="clear"></div>

        <div class="form-group col-xs-12" [ngClass]="{'has-error': displayMessage.password }">
          <input id="password" type="text" placeholder="password (required)" formControlName="password" />
          <span class="help-block" *ngIf="displayMessage.password">
            {{displayMessage.password}}
          </span>

        </div>
        <!--<input id="client_id" type="hidden" value="mysecret" formControlName="client_id" />
        <input id="grant_type" type="hidden" value="password" formControlName="grant_type" />
        <input id="client_secret" type="hidden" value="mysecret" formControlName="client_secret" />-->
        <div class="clear"></div>
        <div class="form-group relative fullwidth col-xs-12">
          <span>
            <button class="form-btn semibold"
                    type="button"
                    (click)="loginProcess()"
                    [disabled]='!loginForm.valid'>
              {{sendButtonText}}
            </button>
          </span>
        </div>
      </fieldset>

    </form>
    <a [routerLink]="['/register']">Register</a>
    <!-- Your Mail Message -->
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

  </div><!-- End Contact Form Area -->
  <br />dirty:{{loginForm.dirty}}
  <br />Touched:{{loginForm.touched}}
  <br />valid:{{loginForm.valid}}
  <br />value:{{loginForm.value | json}}
</div>
