﻿<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="saveRole()"
          [formGroup]="roleForm">
      <fieldset>
        <input id="password" type="hidden" formControlName="password" />
        <input id="sort_no" type="hidden" formControlName="sort_no" />
        <input id="create_user_id" type="hidden" formControlName="create_user_id" />
        <input id="create_date" type="hidden" formControlName="create_date" />
        <input id="update_user_id" type="hidden" formControlName="update_user_id" />
        <input id="update_date" type="hidden" formControlName="update_date" />
        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.role_id }">
          <label class="col-md-2 control-label" for="role_id">Role ID</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="role_id"
                   type="text"
                   placeholder="Role ID (required)"
                   formControlName="role_id" />
            <span class="help-block" *ngIf="displayMessage.role_id">
              {{displayMessage.role_id}}
            </span>
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.role_name }">
          <label class="col-md-2 control-label" for="role_name">Role Name</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="role_name"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="role_name" />
            <span class="help-block" *ngIf="displayMessage.role_name">
              {{displayMessage.role_name}}
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary"
                      type="submit"
                      style="width:80px;margin-right:10px"
                      [disabled]='!roleForm.valid'>
                Save
              </button>
            </span>
            <span>
              <a class="btn btn-default"
                 style="width:80px"
                 [routerLink]="['/roles']">
                Cancel
              </a>
            </span>
            <span>
              <a class="btn btn-default"
                 style="width:80px"
                 (click)="deleteRole()">
                Delete
              </a>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    <br />dirty:{{roleForm.dirty}}
    <br />Touched:{{roleForm.touched}}
    <br />valid:{{roleForm.valid}}
    <br />value:{{roleForm.value | json}}
    <br />value:{{roleSelectList | json}}
    <br />value:{{roleSelectList | json}}
  </div>

</div>
