﻿<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="saveUser()"
          [formGroup]="userForm">
      <fieldset>
        <input id="password" type="hidden" formControlName="password" />
        <input id="sort_no" type="hidden" formControlName="sort_no" />
        <input id="create_user_id" type="hidden" formControlName="create_user_id" />
        <input id="create_date" type="hidden" formControlName="create_date" />
        <input id="update_user_id" type="hidden" formControlName="update_user_id" />
        <input id="update_date" type="hidden" formControlName="update_date" />
        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.user_id }">
          <label class="col-md-2 control-label" for="user_id">User ID</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="user_id"
                   type="text"
                   placeholder="User ID (required)"
                   formControlName="user_id" />
            <span class="help-block" *ngIf="displayMessage.user_id">
              {{displayMessage.user_id}}
            </span>
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.user_name }">
          <label class="col-md-2 control-label" for="user_name">User Name</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="user_name"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="user_name" />
            <span class="help-block" *ngIf="displayMessage.user_name">
              {{displayMessage.user_name}}
            </span>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.email}">
          <label class="col-md-2 control-label" for="email">E-mail</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="email"
                   type="text"
                   placeholder="E-mail (required)"
                   formControlName="email" />
            <span class="help-block" *ngIf="displayMessage.email">
              {{displayMessage.email}}
            </span>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.tel_no }">
          <label class="col-md-2 control-label" for="user_name">Tel No.</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="tel_no"
                   type="text"
                   placeholder="Tel No. (required)"
                   formControlName="tel_no" />
            <span class="help-block" *ngIf="displayMessage.tel_no">
              {{displayMessage.tel_no}}
            </span>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.birthday }">
          <label class="col-md-2 control-label" for="birthday">Birthday</label>
          <div class="col-md-8">

            <input class="form-control"
                   id="birthday"
                   type="text"
                   placeholder="birthday (required)"
                   formControlName="birthday" />
            <span class="help-block" *ngIf="displayMessage.birthday">
              {{displayMessage.birthday }}
            </span>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.division_id}">
          <label class="col-md-2 control-label" for="email">Division</label>
          <div class="col-md-8">
            <select class="form-control" formControlName="division_id">
              <option *ngFor="let divi of divisionSelectList" value={{divi.value}} [selected]="division_id == divi.value">
                {{divi.display}}
              </option>
            </select>
            <span class="help-block" *ngIf="displayMessage.division_id">
              {{displayMessage.division_id}}
            </span>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.role_id}">
          <label class="col-md-2 control-label" for="email">Role</label>
          <div class="col-md-8">
            <select class="form-control" formControlName="role_id">
              <option *ngFor="let role of roleSelectList" value={{role.value}} [selected]="role_id == role.value">
                {{role.display}}
              </option>
            </select>
            <span class="help-block" *ngIf="displayMessage.role_id">
              {{displayMessage.role_id}}
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary"
                      type="submit"
                      style="width:80px;margin-right:10px"
                      [disabled]='!userForm.valid'>
                Save
              </button>
            </span>
            <span>
              <a class="btn btn-default"
                 style="width:80px"
                 [routerLink]="['/users']">
                Cancel
              </a>
            </span>
            <span>
              <a class="btn btn-default"
                 style="width:80px"
                 (click)="deleteUser()">
                Delete
              </a>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    <br />dirty:{{userForm.dirty}}
    <br />Touched:{{userForm.touched}}
    <br />valid:{{userForm.valid}}
    <br />value:{{userForm.value | json}}
    <br />value:{{divisionSelectList | json}}
    <br />value:{{roleSelectList | json}}
  </div>

</div>
