﻿<div class='panel panel-primary' *ngIf='user'>
  <div class='panel-heading' style='font-size:large'>
    {{pageTitle + ': ' + user.user_name}}
  </div>

  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-3'>Name:</div>
          <div class='col-md-6'>{{user.user_id}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Name:</div>
          <div class='col-md-6'>{{user.user_name}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Email:</div>
          <div class='col-md-6'>{{user.email}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>TelNo:</div>
          <div class='col-md-6'>{{user.tel_no}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Birthday:</div>
          <div class='col-md-6'>{{user.birthday | date : 'yyyy/MM/dd'}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Division:</div>
          <div class='col-md-6'>{{user.division_name}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Role:</div>
          <div class='col-md-6'>{{user.role_name}}</div>
        </div>
      </div>

      <div class='col-md-6'>
        <!--<img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='user.imageUrl'
             [title]='user.userName'>-->
      </div>
    </div>
  </div>

  <div class='panel-footer'>
    <span>
      <a class='btn btn-default' (click)='onBack()' style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'></i> Back
      </a>
    </span>
    <span>
      <a class="btn btn-primary"
         style="width:80px"
         [routerLink]="['/userEdit', user.user_id]">
        Edit
      </a>
    </span>
  </div>
</div>